Repository Mesh4all/m4a-firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: boards, Area: build system, Area: CI, Area: firmware, Area: doc, Area: drivers, Area: examples, Area: Kconfig, Area: wifi-subsys, Area: sys, Area: tests, Area: tools, Platform: m4a-24g, Platform: m4a-mb, Platform: m4a-wroom, Platform: m4a-wrover, Platform: native

added doc.txt to ds18_sensor test
  tests/ds18/doc.txt
  tests/storage/doc.txt
Labels: Area: doc, Area: tests

wifi-subsys: Update of HTTPS_protocol, Removed Delays
  wifi-subsys/components/protocols/src/httpsclient.c
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/test/test_https.c
Labels: Area: wifi-subsys

doc: Fixed the documentation in wifi-subsys
  wifi-subsys/components/doc.txt
  wifi-subsys/components/network/doc.txt
  wifi-subsys/components/protocols/doc.txt
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/src/protocol_sntp.h
  wifi-subsys/components/storage/doc.txt
  wifi-subsys/components/tools/doc.txt
  wifi-subsys/components/tools/src/dummy.c
  wifi-subsys/components/tools/src/serialization.h
  wifi-subsys/components/uart/doc.txt
  wifi-subsys/components/uart/src/at_handler.h
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Area: doc, Area: wifi-subsys

Doc: make documentation firmware
  examples/moisture_sensor_hw390/doc.txt
  firmware/doc.txt
  firmware/include/main.h
  firmware/main.c
  firmware/network/doc.txt
  firmware/network/udp_client/doc.txt
  firmware/network/udp_client/include/udp_client.h
  firmware/network/udp_server/doc.txt
  firmware/network/udp_server/include/udp_server.h
  firmware/peripherals/doc.txt
  firmware/peripherals/ds18_sensor/doc.txt
  firmware/peripherals/ds18_sensor/ds18_sensor.c
  firmware/peripherals/ds18_sensor/include/ds18_sensor.h
  firmware/peripherals/moisture_sensor/doc.txt
  firmware/peripherals/moisture_sensor/include/moisture_sensor.h
  firmware/peripherals/moisture_sensor/moisture_sensor.c
  firmware/sys/at_client/doc.txt
  firmware/sys/at_client/include/at_client.h
  firmware/sys/doc.txt
  firmware/sys/serialization/doc.txt
  firmware/sys/serialization/include/serialization.h
  firmware/sys/storage/doc.txt
  firmware/sys/storage/include/storage.h
  firmware/sys/uniqueid/doc.txt
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
Labels: Area: firmware, Area: doc, Area: examples, Area: sys

ci: Codespell fixed about to check alerts
  dist/tools/codespell/check.sh
  dist/tools/codespell/dictionary_m4a.txt
Labels: Area: doc, Area: tools

Wifi-subsys: Delete build warnings from icmp and https erased element
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/test/test_icmp.c
Labels: Area: wifi-subsys

.github/labeler.yml:

"Area: boards":
  - "boards/**/*"

"Area: build system":
  - "Makefile.*"
  - "makefiles/**/*"
  - "**/*.mk"

"Area: CI":
  - ".github/**/*"

"Area: firmware":
  - "firmware/**/*"

"Area: doc":
  - "doc/**/*"
  - "**/*.md"
  - "**/*.txt"
  - ".github/**/*.md"

"Area: drivers":
  - "drivers/**/*"

"Area: examples":
  - "examples/**/*"

"Area: Kconfig":
  - "dist/tools/kconfiglib/**/*"
  - "makefiles/kconfig.mk"
  - "kconfigs/*"
  - "**/Kconfig"

"Area: wifi-subsys":
  - "wifi-subsys/**/*"

"Area: sys":
  - "sys/**/*"
  - "firmware/sys/**/*"

"Area: tests":
  - "tests/**/*"
  - "makefiles/tests/**/*"

"Area: tools":
  - "dist/tools/**/*"

"Platform: m4a-24g":
  - "boards/m4a-24g/**/*"

"Platform: m4a-mb":
  - "boards/m4a-mb/**/*"

"Platform: m4a-wroom":
  - "boards/m4a-wroom/**/*"

"Platform: m4a-wrover":
  - "boards/m4a-wrover/**/*"

"Platform: native":
 - "boards/native/**/*"
