Repository Mesh4all/m4a-firmware, pull requests merged in 2021-11, with the labels that each got.

#23 docs: update README with new logo
  README.md
  doc/media/m4a-logo.png
  doc/media/readme.txt
  doc/memos/README.md
Labels: Status: Ready for Review, Area: doc

#26 docs: Add Contributing Guidelines
  CONTRIBUTING.md
Labels: Status: Ready for Review, Area: doc

#29 docs: Add CODING_CONVENTIONS.md file
  CODING_CONVENTIONS.md
Labels: Area: doc

#30 docs: Add the Contributors file
  CONTRIBUTORS
Labels: Status: Ready for Review

#36 doc: Update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Area: doc

#37 docs: Modifying Readme file
  README.md
Labels: Status: Ready for Review, Area: doc, Status: Ready for merge

#39 ci: fix warnings, round 1
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/compilation_check.yml
  .gitignore
  CODING_CONVENTIONS.md
  CONTRIBUTING.md
  boards/m4a-mb/board.c
  boards/m4a-mb/doc.txt
  boards/m4a-mb/include/board.h
  boards/m4a-mb/include/gpio_params.h
  boards/m4a-mb/include/periph_conf.h
  boards/stm32f469i-disco/board.c
  boards/stm32f469i-disco/include/board.h
  boards/stm32f469i-disco/include/gpio_params.h
  boards/stm32f469i-disco/include/periph_conf.h
  dist/tools/codespell/check.sh
  firmware/Makefile
  firmware/main.c
  makefiles/utils/test-variables.mk
  tests/board_stm32f469i-disco/Makefile
  tests/board_stm32f469i-disco/main.c
  tests/driver_ds18/Makefile
  tests/driver_epd-bw-spi/Makefile
  tests/driver_epd-bw-spi/epd_bw_spi_params.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/epd_bw_spi.c
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_internal.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_params.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_pictures.h
  tests/driver_epd-bw-spi/main.c
  tests/driver_u8g2/Makefile
  tests/driver_u8g2/main.c
  tests/periph_uart/Makefile
  tests/periph_uart/main.c
  tests/unittests/main.c
  tests/unittests/map.h
Labels: Area: boards, Area: tests, Area: doc, Area: CI, Area: build system, Area: firmware, Area: tools, Platform: m4a-mb, Platform: stm32

#40 doc: add doxygen support
  .gitignore
  Makefile
  README.md
  boards/m4a-mb/board.c
  boards/m4a-mb/doc.txt
  boards/m4a-mb/include/board.h
  boards/stm32f469i-disco/Kconfig
  boards/stm32f469i-disco/Makefile
  boards/stm32f469i-disco/Makefile.dep
  boards/stm32f469i-disco/Makefile.features
  boards/stm32f469i-disco/Makefile.include
  boards/stm32f469i-disco/doc.txt
  boards/stm32f469i-disco/include/board.h
  boards/stm32f469i-disco/include/gpio_params.h
  boards/stm32f469i-disco/include/periph_conf.h
  dist/tools/codespell/check.sh
  dist/tools/doccheck/exclude_patterns
  doc/doxygen/Makefile
  doc/doxygen/m4a.doxyfile
  doc/doxygen/src/DoxygenLayout.xml
  doc/doxygen/src/css/bootstrap.css
  doc/doxygen/src/css/bootstrap.min.css
  doc/doxygen/src/css/fonts.css
  doc/doxygen/src/css/jquery.smartmenus.bootstrap.css
  doc/doxygen/src/css/m4a.css
  doc/doxygen/src/css/m4a.less
  doc/doxygen/src/fonts/glyphicons-halflings-regular.eot
  doc/doxygen/src/fonts/glyphicons-halflings-regular.svg
  doc/doxygen/src/fonts/glyphicons-halflings-regular.ttf
  doc/doxygen/src/fonts/glyphicons-halflings-regular.woff
  doc/doxygen/src/fonts/glyphicons-halflings-regular.woff2
  doc/doxygen/src/fonts/miso.eot
  doc/doxygen/src/fonts/miso.svg
  doc/doxygen/src/fonts/miso.ttf
  doc/doxygen/src/fonts/miso.woff
  doc/doxygen/src/html/footer.html
  doc/doxygen/src/html/header.html
  doc/doxygen/src/js/bootstrap.js
  doc/doxygen/src/js/bootstrap.min.js
  doc/doxygen/src/js/doxy-jquery.js
  doc/doxygen/src/js/jquery-ui.min.js
  doc/doxygen/src/js/jquery.min.js
  doc/doxygen/src/js/jquery.powertip.min.js
  doc/doxygen/src/js/jquery.scrollTo.min.js
  doc/doxygen/src/js/jquery.smartmenus.bootstrap.min.js
  doc/doxygen/src/js/jquery.smartmenus.min.js
  doc/doxygen/src/js/m4a-doxy.js
  doc/doxygen/src/js/menu.js
  doc/doxygen/src/media/m4a-logo.svg
  firmware/include/main.h
  firmware/main.c
Labels: Area: boards, Area: doc, Area: firmware, Area: Kconfig, Area: tools, Platform: m4a-mb, Platform: stm32

#42 build: fix compilation error
  Makefile
Labels: Type: bug, Area: build system

#41 ci: static-tests fix errors and warnings - round 2
  README.md
  boards/m4a-mb/board.c
  boards/m4a-mb/doc.txt
  doc/media/readme.txt
  firmware/Makefile
  tests/driver_epd-bw-spi/Makefile
  tests/driver_epd-bw-spi/README.md
  tests/driver_epd-bw-spi/epd_bw_spi_params.h
  tests/driver_u8g2/Makefile
  tests/periph_uart/main.c
Labels: Area: boards, Area: tests, Area: doc, Area: firmware, Platform: m4a-mb

#45 ci: Fix Codespell Doxygen
  dist/tools/codespell/check.sh
Labels: Area: tools

#46 ci: Static-tests resolving the doccheck errors
  boards/m4a-mb/doc.txt
  boards/m4a-mb/include/board.h
  firmware/include/main.h
Labels: Area: boards, Status: Ready for Review, Area: doc, Area: firmware, Platform: m4a-mb

#48 sh: Adding script dependencies
  dist/tools/utils/depends.sh
Labels: Status: Ready for Review, Area: tools
