Repository Mesh4all/m4a-firmware, pull requests merged in 2022-05, with the labels that each got.

#240 wifi-subsys: added functionality to send messages to server from uart
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/protocols/CMakeLists.txt
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/uart/CMakeLists.txt
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Area: doc, Area: wifi-subsys

#241 firmware: added node id to enconde and decode function
  firmware/sys/serialization/include/serialization.h
  firmware/sys/serialization/serialization.c
Labels: Type: enhancement, Area: firmware, Area: sys

#242 Network: Added setting of wireless node to border router and add the …
  doc/doxygen/src/media/border_router_diagram.png
  firmware/network/border_router/Makefile.dep
  firmware/network/border_router/border_router.c
  firmware/network/border_router/doc.txt
  firmware/network/border_router/include/border_router.h
  firmware/network/border_router_node/Makefile
  firmware/network/border_router_node/Makefile.dep
  firmware/network/border_router_node/Makefile.include
  firmware/network/border_router_node/border_router_node.c
  firmware/network/border_router_node/doc.txt
  firmware/network/border_router_node/include/border_router_node.h
  firmware/network/rpl_protocol/Kconfig
  firmware/network/rpl_protocol/rpl_protocol.c
  tests/border_router/Kconfig
  tests/border_router/Makefile
  tests/border_router/main.c
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig

#244 Mesh4all workflow example
  examples/system_example/Kconfig
  examples/system_example/Makefile
  examples/system_example/main.c
  examples/system_example/readme.md
Labels: Area: doc, Area: Kconfig, Area: examples

#245 firmware: added rpl doc
  doc/doxygen/src/media/rpl.png
  firmware/network/rpl_protocol/doc.txt
  firmware/network/rpl_protocol/include/rpl_protocol.h
Labels: Area: doc, Area: firmware

#246 Automatization: m4a-template-generator
  Makefile
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/codespell/check.sh
  dist/tools/m4a-generator/.gitignore
  dist/tools/m4a-generator/COPYING
  dist/tools/m4a-generator/MANIFEST.in
  dist/tools/m4a-generator/README.md
  dist/tools/m4a-generator/README.rst
  dist/tools/m4a-generator/m4agen/__init__.py
  dist/tools/m4a-generator/m4agen/application.py
  dist/tools/m4a-generator/m4agen/board.py
  dist/tools/m4a-generator/m4agen/common.py
  dist/tools/m4a-generator/m4agen/data/licenses/AGPL3.txt
  dist/tools/m4a-generator/m4agen/data/licenses/Apache2.txt
  dist/tools/m4a-generator/m4agen/data/licenses/BSD.txt
  dist/tools/m4a-generator/m4agen/data/licenses/LGPL21.txt
  dist/tools/m4a-generator/m4agen/data/licenses/MIT.txt
  dist/tools/m4a-generator/m4agen/data/licenses/MPL2.txt
  dist/tools/m4a-generator/m4agen/example.py
  dist/tools/m4a-generator/m4agen/main.py
  dist/tools/m4a-generator/m4agen/module.py
  dist/tools/m4a-generator/m4agen/samples/sample-application.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-board.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-driver.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-example.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-module.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-pkg.cfg
  dist/tools/m4a-generator/m4agen/samples/sample-test.cfg
  dist/tools/m4a-generator/m4agen/templates/application/01-run.py.j2
  dist/tools/m4a-generator/m4agen/templates/application/Makefile.j2
  dist/tools/m4a-generator/m4agen/templates/application/README.md.j2
  dist/tools/m4a-generator/m4agen/templates/application/main.c.j2
  dist/tools/m4a-generator/m4agen/templates/board/Kconfig.j2
  dist/tools/m4a-generator/m4agen/templates/board/Makefile.dep.j2
  dist/tools/m4a-generator/m4agen/templates/board/Makefile.features.j2
  dist/tools/m4a-generator/m4agen/templates/board/Makefile.include.j2
  dist/tools/m4a-generator/m4agen/templates/board/Makefile.j2
  dist/tools/m4a-generator/m4agen/templates/board/board.h.j2
  dist/tools/m4a-generator/m4agen/templates/board/doc.txt.j2
  dist/tools/m4a-generator/m4agen/templates/board/periph_conf.h.j2
  dist/tools/m4a-generator/m4agen/templates/common/header.j2
  dist/tools/m4a-generator/m4agen/templates/module/Makefile.j2
  dist/tools/m4a-generator/m4agen/templates/module/module.c.j2
  dist/tools/m4a-generator/m4agen/templates/module/module.h.j2
  dist/tools/m4a-generator/m4agen/test.py
  dist/tools/m4a-generator/m4agen/utils.py
  dist/tools/m4a-generator/setup.cfg
  dist/tools/m4a-generator/setup.py
  dist/tools/m4a-generator/tox.ini
  dist/tools/utils/m4agen_installer.sh
  makefiles/tools/m4agen.inc.mk
Labels: Area: doc, Area: build system, Area: tools

#249 firmware & tools: chamoc tools and chamos module implementation
  dist/tools/chamoc/.gitignore
  dist/tools/chamoc/autoconfigure.sh
  dist/tools/chamoc/chamoc_msg.c
  dist/tools/chamoc/client.c
  dist/tools/chamoc/doc.txt
  dist/tools/chamoc/include/chamoc_msg.h
  dist/tools/chamoc/include/client.h
  dist/tools/chamoc/include/nib.h
  dist/tools/chamoc/main.c
  dist/tools/chamoc/nib.c
  dist/tools/chamoc/test.sh
  firmware/network/Kconfig
  firmware/network/border_router/Makefile.dep
  firmware/network/chamos/Kconfig
  firmware/network/chamos/Makefile
  firmware/network/chamos/Makefile.dep
  firmware/network/chamos/Makefile.include
  firmware/network/chamos/chamos.c
  firmware/network/chamos/doc.txt
  firmware/network/chamos/include/chamos.h
  tests/chamoc_server/.gitignore
  tests/chamoc_server/chamoc_server.c
  tests/chamoc_server/run.sh
  tests/chamos_test/Kconfig
  tests/chamos_test/Makefile
  tests/chamos_test/doc.txt
  tests/chamos_test/main.c
  tests/chamos_test/test/01-run.py
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig, Area: tools

#251 docs: solved some warnings in the RC-22.06
  boards/m4a-24g/include/eui_provider_params.h
  dist/tools/chamoc/doc.txt
  dist/tools/chamoc/include/chamoc_msg.h
  dist/tools/chamoc/include/client.h
  dist/tools/chamoc/include/nib.h
  dist/tools/doc.txt
  dist/tools/uncrustify/whitelist.txt
  doc/doxygen/m4a.doxyfile
  firmware/network/border_router/doc.txt
  firmware/network/border_router/include/border_router.h
  firmware/network/chamos/doc.txt
  firmware/network/chamos/include/chamos.h
  firmware/network/radio/include/radio_params.h
  firmware/network/rpl_protocol/include/rpl_protocol.h
  firmware/sys/serialization/include/serialization.h
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/protocol_sntp.h
  wifi-subsys/components/uart/src/at_handler.h
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Area: boards, Area: doc, Area: firmware, Area: sys, Area: tools, Platform: m4a-24g, Area: wifi-subsys

#255 firmware: rpl fixed routing
  examples/mesh4all_rpl/Kconfig
  examples/mesh4all_rpl/Makefile
  examples/mesh4all_rpl/main.c
  firmware/network/radio/radio.c
  firmware/network/rpl_protocol/Makefile.dep
Labels: Area: firmware, Area: Kconfig, Area: examples
