Repository Mesh4all/m4a-firmware, pull requests merged in 2022-04, with the labels that each got.

#192 test: added test to udp_client
  firmware/network/udp_server/include/udp_server.h
  firmware/network/udp_server/udp_server.c
  tests/Makefile.tests_common
  tests/test_utils.config
  tests/udp_client/Makefile
  tests/udp_client/app.config.test
  tests/udp_client/doc.txt
  tests/udp_client/main.c
  tests/udp_client/tests/01-run.py
Labels: Area: tests, Area: doc, Area: firmware

#183 test: added test to at_client
  firmware/sys/at_client/include/at_client.h
  tests/Makefile.tests_common
  tests/at_client_test/Makefile
  tests/at_client_test/app.config.test
  tests/at_client_test/doc.txt
  tests/at_client_test/main.c
  tests/at_client_test/tests/01-run.py
  tests/test_print_stack_usage.config
Labels: Area: tests, Area: doc, Area: firmware, Area: sys

#205 sys/docs: at_client documentation
  firmware/sys/at_client/doc.txt
  firmware/sys/at_client/include/at_client.h
Labels: Area: doc, Area: firmware, Area: sys

#210 doc: added doc.txt to storage test
  tests/serialization/doc.txt
  tests/storage/doc.txt
Labels: Area: tests, Area: doc

#209 doc: added doc.txt to serialization test
  tests/serialization/doc.txt
Labels: Area: tests, Area: doc

#208 added doc.txt to ds18_sensor test
  tests/ds18/doc.txt
  tests/storage/doc.txt
Labels: Area: tests, Area: doc

#213 Wifi-subsys: Upgrade_test_https_GET_and_POST
  wifi-subsys/components/protocols/src/httpsclient.c
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/test/test_https.c
Labels: Area: wifi-subsys

#216 doc: Fixed the documentation in wifi-subsys
  wifi-subsys/components/doc.txt
  wifi-subsys/components/network/doc.txt
  wifi-subsys/components/protocols/doc.txt
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/src/protocol_sntp.h
  wifi-subsys/components/storage/doc.txt
  wifi-subsys/components/tools/doc.txt
  wifi-subsys/components/tools/src/dummy.c
  wifi-subsys/components/tools/src/serialization.h
  wifi-subsys/components/uart/doc.txt
  wifi-subsys/components/uart/src/at_handler.h
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Area: doc, Area: wifi-subsys

#217 doc: make documentation firmware
  examples/moisture_sensor_hw390/doc.txt
  firmware/doc.txt
  firmware/include/main.h
  firmware/main.c
  firmware/network/doc.txt
  firmware/network/udp_client/doc.txt
  firmware/network/udp_client/include/udp_client.h
  firmware/network/udp_server/doc.txt
  firmware/network/udp_server/include/udp_server.h
  firmware/peripherals/doc.txt
  firmware/peripherals/ds18_sensor/doc.txt
  firmware/peripherals/ds18_sensor/ds18_sensor.c
  firmware/peripherals/ds18_sensor/include/ds18_sensor.h
  firmware/peripherals/moisture_sensor/doc.txt
  firmware/peripherals/moisture_sensor/include/moisture_sensor.h
  firmware/peripherals/moisture_sensor/moisture_sensor.c
  firmware/sys/at_client/doc.txt
  firmware/sys/at_client/include/at_client.h
  firmware/sys/doc.txt
  firmware/sys/serialization/doc.txt
  firmware/sys/serialization/include/serialization.h
  firmware/sys/storage/doc.txt
  firmware/sys/storage/include/storage.h
  firmware/sys/uniqueid/doc.txt
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
Labels: Area: doc, Area: firmware, Area: examples, Area: sys

#212 CI : Fixing Codespell undetected misspelling words during static-test
  dist/tools/codespell/check.sh
  dist/tools/codespell/dictionary_m4a.txt
Labels: Area: doc, Area: tools

#229 boards: eui_provider_integration to m4a-24g
  boards/m4a-24g/include/eui_provider_params.h
Labels: Area: boards, Platform: m4a-24g

#225 Firmware: makes Kconfig
  firmware/Kconfig
  firmware/network/Kconfig
  firmware/network/udp_client/Kconfig
  firmware/network/udp_server/Kconfig
  firmware/sys/Kconfig
  firmware/sys/at_client/Kconfig
  firmware/sys/serialization/Kconfig
  firmware/sys/storage/Kconfig
  firmware/sys/uniqueid/Kconfig
Labels: Area: firmware, Area: Kconfig, Area: sys

#230 boards: eui64_provider fixed dependencies
  boards/m4a-24g/Makefile.dep
Labels: Area: boards, Platform: m4a-24g

#224 boards: removed m4a-wroom and m4a-wrover support
  .github/labeler.yml
  boards/m4a-wroom/Kconfig
  boards/m4a-wroom/Makefile
  boards/m4a-wroom/Makefile.dep
  boards/m4a-wroom/Makefile.features
  boards/m4a-wroom/Makefile.include
  boards/m4a-wroom/doc.txt
  boards/m4a-wroom/include/board.h
  boards/m4a-wroom/include/gpio_params.h
  boards/m4a-wroom/include/periph_conf.h
  boards/m4a-wrover/Kconfig
  boards/m4a-wrover/Makefile
  boards/m4a-wrover/Makefile.dep
  boards/m4a-wrover/Makefile.features
  boards/m4a-wrover/Makefile.include
  boards/m4a-wrover/doc.txt
  boards/m4a-wrover/include/board.h
  boards/m4a-wrover/include/gpio_params.h
  boards/m4a-wrover/include/periph_conf.h
Labels: Area: boards, Area: doc, Area: CI, Area: Kconfig, Platform: m4a-wrover, Platform: m4a-wroom

#221 Wifi-subsys: Delete build warnings from icmp and recover https erased element
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/test/test_icmp.c
Labels: Area: wifi-subsys

#220 Examples: Structure renovated
  examples/Makefile.common
  examples/ds18b20/Makefile
  examples/ds18b20/README.md
  examples/ds18b20/doc.txt
  examples/ds18b20/main.c
  examples/esp32-wroom-32/slipdev/README.md
  examples/esp32-wroom-32/test_ds18b20/Makefile
  examples/esp32-wroom-32/test_ds18b20/README.md
  examples/esp32-wroom-32/test_ds18b20/ds18b20.h
  examples/esp32-wroom-32/test_ds18b20/main.c
  examples/esp32-wrover-app/Makefile
  examples/esp32-wrover-app/doc.txt
  examples/esp32-wrover-app/external_modules/cJSON/Makefile
  examples/esp32-wrover-app/external_modules/cJSON/Makefile.dep
  examples/esp32-wrover-app/external_modules/cJSON/Makefile.include
  examples/esp32-wrover-app/external_modules/cJSON/cjson.c
  examples/esp32-wrover-app/external_modules/cJSON/include/cjson.h
  examples/esp32-wrover-app/include/main.h
  examples/esp32-wrover-app/main.c
  examples/esp32-wrover-app/udpf.c
  examples/esp32-wrover-app/udpf.h
  examples/external_led/Makefile
  examples/external_led/README.md
  examples/external_led/doc.txt
  examples/external_led/main.c
  examples/moisture_sensor_hw390/Makefile
  examples/moisture_sensor_hw390/README.md
  examples/slipdev/Makefile
  examples/slipdev/README.md
  examples/slipdev/doc.txt
  examples/slipdev/main.c
  examples/slipdev/slipdev_params.h
  examples/uart_hc-06/Makefile
  examples/uart_hc-06/README.md
  examples/uart_hc-06/doc.txt
  examples/uart_hc-06/main.c
Labels: Area: doc, Area: examples

#231 Radio module
  firmware/Kconfig
  firmware/Makefile
  firmware/network/Kconfig
  firmware/network/Makefile
  firmware/network/radio/Kconfig
  firmware/network/radio/Makefile
  firmware/network/radio/Makefile.dep
  firmware/network/radio/Makefile.include
  firmware/network/radio/include/radio.h
  firmware/network/radio/radio.c
  tests/radio/Kconfig
  tests/radio/Makefile
  tests/radio/app.config.test
  tests/radio/doc.txt
  tests/radio/main.c
  tests/radio/tests/01-run.py
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig

#233 RPL module
  firmware/main.c
  firmware/network/Kconfig
  firmware/network/Makefile
  firmware/network/rpl_protocol/Kconfig
  firmware/network/rpl_protocol/Makefile
  firmware/network/rpl_protocol/Makefile.dep
  firmware/network/rpl_protocol/Makefile.include
  firmware/network/rpl_protocol/include/rpl_protocol.h
  firmware/network/rpl_protocol/rpl_protocol.c
  tests/rpl/Kconfig
  tests/rpl/Makefile
  tests/rpl/app.config.test
  tests/rpl/main.c
  tests/rpl/tests/01-run.py
Labels: Type: enhancement, Area: tests, Area: firmware, Area: Kconfig

#237 doc: doxyfile_ control to README from examples!
  doc/doxygen/m4a.doxyfile
Labels: Area: doc

#238 Makefile: New Integration to manage bootloader Commands
  Makefile
  boards/doc.txt
  boards/m4a-24g/Makefile.include
  boards/m4a-mb/Makefile.include
Labels: Area: boards, Area: doc, Platform: m4a-mb, Platform: m4a-24g

#239 Network: border router ipv6 config host
  firmware/network/Makefile
  firmware/network/border_router/Kconfig
  firmware/network/border_router/Makefile
  firmware/network/border_router/Makefile.dep
  firmware/network/border_router/Makefile.include
  firmware/network/border_router/border_router.c
  firmware/network/border_router/doc.txt
  firmware/network/border_router/include/border_router.h
  tests/border_router/Makefile
  tests/border_router/app.config.test
  tests/border_router/doc.txt
  tests/border_router/main.c
  tests/border_router/tests/01-run.py
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig
