Repository Mesh4all/m4a-firmware, pull requests merged in 2022-10, with the labels that each got.

#357 Test/net tools: Integration to net_tools test
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
  tests/net_net_tools/Makefile
  tests/net_net_tools/main.c
  tests/net_net_tools/tests/01-run.py
  tests/system_uniqueid/main.c
Labels: Area: tests, Area: firmware, Area: sys

#354 firmware/sys/shell_extended: Adds support for `net_tools` commands
  examples/shell_extended/Kconfig
  examples/shell_extended/Makefile
  firmware/sys/shell_extended/Makefile
  firmware/sys/shell_extended/se_net_tools.c
  firmware/sys/shell_extended/shell_extended.c
Labels: Area: firmware, Area: Kconfig, Area: examples, Area: sys

#359 firmware/sys/storage: Re-modification of storage module
  firmware/storage_init.c
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  tests/system_storage/Kconfig
  tests/system_storage/Makefile
  tests/system_storage/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: sys, CI: ready for build

#360 firmware/sys/storage: Added supports to save specified data types
  firmware/sys/storage/Makefile.dep
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  tests/system_storage/Kconfig
  tests/system_storage/Makefile
  tests/system_storage/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: sys

#361 firmware/sys/storage: Added supports to del registers and rwp bit set
  firmware/sys/storage/Makefile
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/include/storage_internal.h
  firmware/sys/storage/include/storage_register.h
  firmware/sys/storage/storage.c
  firmware/sys/storage/storage_internal.c
  firmware/sys/storage/storage_register.c
  tests/system_storage/main.c
Labels: Area: tests, Area: firmware, Area: sys

#362 firmware/network/radio: Radio module fixed `gets` functions
  firmware/network/radio/include/radio.h
  firmware/network/radio/radio.c
  tests/driver_radio/Kconfig
  tests/driver_radio/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig

#364 firmware/sys/shell_extended: Added `stg` commands functions and `se_*` fixes
  examples/shell_extended/Kconfig
  examples/shell_extended/Makefile
  firmware/default_params.h
  firmware/sys/Kconfig
  firmware/sys/shell_extended/Makefile.include
  firmware/sys/shell_extended/se_net_tools.c
  firmware/sys/shell_extended/se_storage.c
  firmware/sys/storage/storage_internal.c
  tests/driver_radio/main.c
  tests/net_net_tools/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: examples, Area: sys

#369 firmware/sys/shell_extended: Added support of network modules for Stg_cmd
  firmware/default_params.h
  firmware/sys/shell_extended/se_storage.c
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/include/storage_register.h
  firmware/sys/storage/storage.c
  firmware/sys/storage/storage_internal.c
  firmware/sys/storage/storage_register.c
  tests/system_storage/main.c
Labels: Area: tests, Area: firmware, Area: sys
