Repository Mesh4all/m4a-firmware, pull requests merged in 2022-03, with the labels that each got.

#159 wifi-subsys: fixed little bugs in wifi module
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/test/test_wifi.c
  wifi-subsys/test/main/main.c
Labels: Type: bug, Area: wifi-subsys

#158 wifi-subsys: update uart structure
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/uart/src/at_handler.c
  wifi-subsys/components/uart/src/at_handler.h
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Type: enhancement, Area: wifi-subsys

#160 wifi-subsys: main update
  wifi-subsys/main/default_params.h
  wifi-subsys/main/main.c
Labels: Type: enhancement, Area: wifi-subsys

#162 wifi-subsys: fix litle bugs
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/uart/src/at_handler.c
  wifi-subsys/components/uart/src/subsys_uart.c
Labels: Type: bug, Area: wifi-subsys

#164 connection_ESP32_at_commands
  firmware/libs/at_commands_uart/at_uart.c
  firmware/libs/at_commands_uart/include/at_uart.h
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/src/subsys_uart.h
Labels: Area: firmware, Area: wifi-subsys

#165 firmware: add basic Kconfig feature
  firmware/Kconfig
  firmware/out.config
  firmware/peripherals/Kconfig
  firmware/peripherals/ds18_sensor/Kconfig
  firmware/peripherals/moisture_sensor/Kconfig
  firmware/sys/Kconfig
Labels: Area: firmware, Area: Kconfig, Area: sys

#166 Firmware: update folders
  firmware/Makefile
  firmware/libs/udp_m4a/udp_m4a.c
  firmware/sys/at_commands_uart/Makefile
  firmware/sys/at_commands_uart/Makefile.dep
  firmware/sys/at_commands_uart/Makefile.include
  firmware/sys/at_commands_uart/at_uart.c
  firmware/sys/at_commands_uart/include/at_uart.h
  firmware/sys/serialization/Makefile
  firmware/sys/serialization/Makefile.dep
  firmware/sys/serialization/Makefile.include
  firmware/sys/serialization/include/serialization.h
  firmware/sys/serialization/serialization.c
  firmware/sys/udp_m4a/Makefile
  firmware/sys/udp_m4a/Makefile.dep
  firmware/sys/udp_m4a/Makefile.include
  firmware/sys/udp_m4a/include/udp_m4a.h
  firmware/sys/udp_m4a/udp_m4a.c
Labels: Area: firmware, Area: sys

#171 Firmware storage
  firmware/Makefile
  firmware/default_params.h
  firmware/doc.txt
  firmware/sys/storage/Makefile
  firmware/sys/storage/Makefile.dep
  firmware/sys/storage/Makefile.include
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  firmware/sys/system_init/include/system_init.h
Labels: Type: enhancement, Area: doc, Area: firmware, Area: sys

#168 sys: cpuid to ipv6 address
  boards/m4a-24g/include/board.h
  boards/m4a-mb/include/board.h
  boards/m4a-wroom/include/board.h
  boards/m4a-wrover/include/board.h
  firmware/Makefile
  firmware/doc.txt
  firmware/sys/Kconfig
  firmware/sys/doc.txt
  firmware/sys/network/Kconfig
  firmware/sys/network/Makefile
  firmware/sys/network/Makefile.dep
  firmware/sys/network/Makefile.include
  firmware/sys/network/doc.txt
  firmware/sys/network/include/uniqueid.h
  firmware/sys/network/uniqueid.c
  firmware/sys/system_init/system_init.c
Labels: Area: boards, Area: doc, Area: firmware, Area: Kconfig, Area: sys, Platform: m4a-mb, Platform: m4a-24g, Platform: m4a-wrover, Platform: m4a-wroom

#175 Sys: get ipv6 address
  firmware/sys/network/Kconfig
  firmware/sys/network/Makefile.dep
  firmware/sys/network/include/uniqueid.h
  firmware/sys/network/uniqueid.c
Labels: Area: firmware, Area: Kconfig, Area: sys

#176 readme: changes in documentation
  CONTRIBUTORS
  README.md
Labels: Area: doc

#177 new storage structure
  firmware/Makefile
  firmware/default_params.h
  firmware/main.c
  firmware/sys/Makefile.dep
  firmware/sys/makefile
  firmware/sys/storage/Makefile
  firmware/sys/storage/Makefile.dep
  firmware/sys/storage/Makefile.include
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
Labels: Status: WIP, Area: firmware, Area: sys

#178 firmware: removed system_init
  firmware/sys/system_init/Makefile
  firmware/sys/system_init/Makefile.dep
  firmware/sys/system_init/Makefile.include
  firmware/sys/system_init/include/system_init.h
  firmware/sys/system_init/system_init.c
Labels: Area: firmware, Area: sys

#184 sys: new struct of module uniqueid
  firmware/Makefile
  firmware/sys/Kconfig
  firmware/sys/doc.txt
  firmware/sys/network/Makefile.include
  firmware/sys/network/doc.txt
  firmware/sys/uniqueid/Kconfig
  firmware/sys/uniqueid/Makefile
  firmware/sys/uniqueid/Makefile.dep
  firmware/sys/uniqueid/Makefile.include
  firmware/sys/uniqueid/doc.txt
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
Labels: Area: doc, Area: firmware, Area: Kconfig, Area: sys

#185 network : new struct of module udp_client
  firmware/network/Makefile
  firmware/network/Makefile.dep
  firmware/network/udp_client/Makefile
  firmware/network/udp_client/Makefile.dep
  firmware/network/udp_client/Makefile.include
  firmware/network/udp_client/include/udp_client.h
  firmware/network/udp_client/udp_client.c
  firmware/sys/Makefile
  firmware/sys/udp_m4a/Makefile.dep
  firmware/sys/udp_m4a/Makefile.include
Labels: Area: firmware, Area: sys

#173 Feature/test batery
  tests/Makefile.tests_common
  tests/storage/Makefile
  tests/storage/app.config.test
  tests/storage/main.c
  tests/storage/tests/01-run.py
Labels: Type: enhancement, Area: tests

#182 Create ds18 peripherals
  tests/Makefile.tests_common
  tests/ds18/Makefile
  tests/ds18/app.config.test
  tests/ds18/main.c
  tests/ds18/tests/01-run.py
Labels: Area: tests

#187 test: test to unique id module
  tests/uniqueid/Kconfig
  tests/uniqueid/Makefile
  tests/uniqueid/app.config.test
  tests/uniqueid/main.c
  tests/uniqueid/tests/01-run.py
Labels: Area: tests, Area: Kconfig

#188 sys: at_client module name change
  firmware/sys/at_client/Makefile
  firmware/sys/at_client/Makefile.dep
  firmware/sys/at_client/Makefile.include
  firmware/sys/at_client/at_client.c
  firmware/sys/at_client/include/at_client.h
  firmware/sys/at_commands_uart/Makefile.include
Labels: Area: firmware, Area: sys

#189 Network: new struct of module udp_server
  firmware/network/Makefile
  firmware/network/udp_server/Makefile
  firmware/network/udp_server/Makefile.dep
  firmware/network/udp_server/Makefile.include
  firmware/network/udp_server/includes/udp_server.h
  firmware/network/udp_server/udp_server.c
Labels: Area: firmware

#190 Wifi-subsys: Instance Mutex-Semaphore in SNTP
  wifi-subsys/components/protocols/src/protocol_sntp.c
Labels: Area: wifi-subsys

#191 sys: change doc.txt uniqueid
  firmware/sys/uniqueid/doc.txt
Labels: Area: doc, Area: firmware, Area: sys

#199 network: Rename include folder at module udp_server
  firmware/network/udp_server/Makefile.dep
  firmware/network/udp_server/include/udp_server.h
Labels: Area: firmware

#204 boards: delete uniqueid.h
  boards/m4a-24g/include/board.h
  boards/m4a-mb/include/board.h
  boards/m4a-wroom/include/board.h
  boards/m4a-wrover/include/board.h
Labels: Area: boards, Platform: m4a-mb, Platform: m4a-24g, Platform: m4a-wrover, Platform: m4a-wroom

#197 Wifi updates
  wifi-subsys/components/network/doc.txt
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/network/test/test_wifi.c
Labels: Status: Ready for Review, Area: doc, Area: wifi-subsys

#207 ci: update labeler runner
  .github/labeler.yml
Labels: Area: CI
