Repository Mesh4all/m4a-firmware, pull requests merged in 2022-07, with the labels that each got.

#285 Sys: documents corrections
  firmware/sys/at_client/doc.txt
  firmware/sys/doc.txt
  firmware/sys/serialization/doc.txt
  firmware/sys/storage/doc.txt
  firmware/sys/uniqueid/doc.txt
Labels: Area: doc, Area: firmware, Area: sys

#286 boards/m4a-24g: Adc VREF periph control by KCONFIG
  boards/m4a-24g/Kconfig.periph
  boards/m4a-24g/include/periph_conf.h
  firmware/peripherals/Kconfig
  firmware/peripherals/ds18_sensor/Kconfig
Labels: Area: boards, Area: firmware, Area: Kconfig, Platform: m4a-24g

#288 network/udp_client: Update udp client to pass the tests
  firmware/network/udp_client/include/udp_client.h
  firmware/network/udp_client/udp_client.c
  tests/udp_client/main.c
  tests/udp_server/main.c
Labels: Type: bug, Area: tests, Area: firmware

#289 Sys: fixed random option uniqueid
  firmware/sys/uniqueid/Kconfig
  firmware/sys/uniqueid/Makefile.dep
  firmware/sys/uniqueid/doc.txt
  firmware/sys/uniqueid/uniqueid.c
  tests/uniqueid/Kconfig
  tests/uniqueid/main.c
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig, Area: sys

#295 Sys: move cpuid to uniqueid
  boards/m4a-24g/include/board.h
  boards/m4a-mb/include/board.h
  firmware/sys/uniqueid/include/uniqueid.h
Labels: Area: boards, Area: firmware, Area: sys, Platform: m4a-mb, Platform: m4a-24g

#294 peripherals/doc; Added Documentation to Peripherals
  doc/doxygen/src/media/Analog_moisture_sensor_001.jpeg
  doc/doxygen/src/media/DS18B20-Sensor-Pinout.jpg
  doc/doxygen/src/media/Electronic-sheme-analog_moisture_sensor.png
  firmware/peripherals/doc.txt
  firmware/peripherals/ds18_sensor/doc.txt
  firmware/peripherals/moisture_sensor/doc.txt
Labels: Area: doc, Area: firmware

#291 Doc: fixes doc firmware
  firmware/doc.txt
  firmware/network/radio/doc.txt
  firmware/sys/at_client/doc.txt
Labels: Area: doc, Area: firmware, Area: sys

#297 sys/uniqueid: Fixed rendundancy code and dependencies to multi support
  firmware/network/radio/Makefile.dep
  firmware/sys/uniqueid/Makefile.dep
  firmware/sys/uniqueid/uniqueid.c
  tests/uniqueid/main.c
  tests/uniqueid/random_gen.c
  tests/uniqueid/unique_random.h
Labels: Area: tests, Area: firmware, Area: sys

#299 Network: made kconfig to net tools
  firmware/network/Kconfig
  firmware/network/net_tools/Kconfig
  firmware/network/net_tools/net_tools.c
  tests/border_router/Kconfig
Labels: Area: tests, Area: network, Area: firmware, Area: Kconfig

#302 Network: Made kconfig to udp_server and udp_client
  examples/system_example/main.c
  firmware/network/udp_client/Kconfig
  firmware/network/udp_client/include/udp_client.h
  firmware/network/udp_server/Kconfig
  firmware/network/udp_server/include/udp_server.h
  firmware/network/udp_server/udp_server.c
  tests/udp_client/Kconfig
  tests/udp_client/main.c
  tests/udp_server/Kconfig
  tests/udp_server/main.c
Labels: Area: tests, Area: network, Area: firmware, Area: Kconfig, Area: examples

#304 Network: Made kconfig to at_client
  firmware/sys/at_client/Kconfig
  firmware/sys/at_client/at_client.c
  firmware/sys/at_client/include/at_client.h
  tests/at_client_test/Kconfig
Labels: Area: tests, Area: network, Area: firmware, Area: Kconfig, Area: sys

#306 Storage: compress model to flashpages blocks
  firmware/sys/storage/Makefile.dep
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  tests/storage/main.c
Labels: Area: tests, Area: firmware, Area: sys

#310 ci: update labeler runner with new board's label
  .github/labeler.yml
Labels: Area: CI

#308 firmware/default_params: Adding Elements to save configuration in the…
  firmware/default_params.h
  firmware/network/radio/radio.c
  firmware/network/rpl_protocol/include/rpl_protocol.h
  tests/Makefile.tests_common
  tests/storage/Kconfig
  tests/storage/Makefile
  tests/storage/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig

#303 Network: Made kconfig to ds18 and moisture sensor
  examples/moisture_sensor_hw390/Kconfig
  examples/moisture_sensor_hw390/main.c
  firmware/peripherals/Kconfig
  firmware/peripherals/ds18_sensor/Kconfig
  firmware/peripherals/moisture_sensor/Kconfig
  firmware/peripherals/moisture_sensor/moisture_sensor.c
  tests/ds18/Kconfig
  tests/ds18/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: examples

#298 Network: Made Kconfig to border router module
  firmware/network/Kconfig
  firmware/network/border_router/Kconfig
  firmware/network/border_router/border_router.c
  firmware/network/border_router/include/border_router.h
  tests/border_router/Kconfig
  tests/border_router/main.c
  tests/radio/Kconfig
  tests/rpl/Kconfig
  tests/uniqueid/Kconfig
Labels: Area: tests, Area: network, Area: firmware, Area: Kconfig

#311 board: initial implementation of `VS201` board, `CC2538 + CC2592`
  boards/vs203/Kconfig
  boards/vs203/Makefile
  boards/vs203/Makefile.dep
  boards/vs203/Makefile.features
  boards/vs203/Makefile.include
  boards/vs203/board.c
  boards/vs203/doc.txt
  boards/vs203/include/board.h
  boards/vs203/include/gpio_params.h
  boards/vs203/include/periph_conf.h
Labels: Area: boards, Area: doc, Area: Kconfig, Platform: vs203

#315 boards: fix error, BTN1 not defined
  boards/vs203/board.c
Labels: Area: boards, Platform: vs203

#312 Meshboot: Supporting to install boot in meshme and vs203 boards
  Makefile
  firmware/Makefile
  tests/riotboot/Makefile
  tests/riotboot/Makefile.ci
  tests/riotboot/README.md
  tests/riotboot/main.c
  tests/riotboot/tests/01-run.py
Labels: Area: tests, Area: doc, Area: firmware

#316 boards/meshme: Add ADC support and tests
  boards/meshme/board.c
  boards/meshme/include/board.h
  boards/meshme/include/gpio_params.h
  boards/meshme/include/periph_conf.h
  tests/periph_adc/Kconfig
  tests/periph_adc/Makefile
  tests/periph_adc/app.config.test
  tests/periph_adc/doc.txt
  tests/periph_adc/main.c
  tests/periph_adc/tests/01-run.py
Labels: Area: boards, Area: tests, Area: doc, Area: Kconfig, Platform: meshme

#317 firmware/storage: Fixed bug in Boards meshme and vs203
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
Labels: Area: firmware, Area: sys

#322 tests: renamed tests with correctly test name
  tests/ds18/main.c
  tests/radio/main.c
  tests/serialization/main.c
Labels: Area: tests

#320 sys/uniqueid: Fixed compilation dependencies of HWRNG and radio hardware
  firmware/sys/uniqueid/Kconfig
  firmware/sys/uniqueid/Makefile.dep
  firmware/sys/uniqueid/uniqueid.c
  tests/uniqueid/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: sys

#321 test/storage: Support to cc2538 with `mtd_save_compress` and `mtd_load`
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  tests/storage/main.c
Labels: Area: tests, Area: firmware, Area: sys

#318 boards/meshme: initial implementation of I2C and SPI peripherals
  boards/meshme/include/periph_conf.h
  tests/driver_bme280/Kconfig
  tests/driver_bme280/Makefile
  tests/driver_bme280/app.config.test
  tests/driver_bme280/doc.txt
  tests/driver_bme280/main.c
  tests/driver_bme280/tests/01-run.py
  tests/periph_adc/doc.txt
  tests/periph_i2c/Kconfig
  tests/periph_i2c/Makefile
  tests/periph_i2c/app.config.test
  tests/periph_i2c/doc.txt
  tests/periph_i2c/main.c
  tests/periph_i2c/tests/01-run.py
Labels: Area: boards, Area: tests, Area: doc, Area: Kconfig, Platform: meshme

#323 tests/doc: Fixed group names and docs required of some modules
  examples/blinking/Makefile
  examples/blinking/README.md
  examples/blinking/doc.txt
  examples/blinking/main.c
  examples/doc.txt
  examples/ds18/Makefile
  examples/ds18/README.md
  examples/ds18/doc.txt
  examples/ds18/main.c
  examples/mesh4all_rpl_dag/Makefile
  examples/mesh4all_rpl_dag/doc.txt
  examples/moisture_sensor_hw390/doc.txt
  examples/moisture_sensor_hw390/main.c
  examples/slipdev/doc.txt
  examples/slipdev/main.c
  examples/system_example/README.md
  examples/uart_hc-06/Makefile
  examples/uart_hc-06/README.md
  examples/uart_hc-06/doc.txt
  examples/uart_hc-06/main.c
  tests/at_client_test/doc.txt
  tests/border_router/doc.txt
  tests/chamos_test/doc.txt
  tests/doc.txt
  tests/driver_bme280/doc.txt
  tests/ds18/doc.txt
  tests/periph_adc/doc.txt
  tests/periph_i2c/doc.txt
  tests/radio/doc.txt
  tests/rpl/doc.txt
  tests/serialization/doc.txt
  tests/storage/doc.txt
  tests/template/doc.txt
  tests/udp_client/doc.txt
  tests/udp_server/doc.txt
  tests/uniqueid/doc.txt
  tests/uniqueid/unique_random.h
Labels: Area: tests, Area: doc, Area: examples

#325 firmware/radio: Compillation Fixed to unregister netdev devices
  firmware/network/radio/radio.c
Labels: Area: firmware

#327 test/bmx280: New integration to generic BMX280 sensors tests
  tests/driver_bmx280/Kconfig
  tests/driver_bmx280/Makefile
  tests/driver_bmx280/app.config.test
  tests/driver_bmx280/doc.txt
  tests/driver_bmx280/main.c
  tests/driver_bmx280/tests/01-run.py
Labels: Area: tests, Area: doc, Area: Kconfig
