Repository Mesh4all/m4a-firmware, pull requests merged in 2022-01, with the labels that each got.

#66 Example: add example ds18b20
  doc/media/examples/esp32-wroom/ds18b20/ds18b20_example.png
  examples/esp32-wroom-32/test_ds18b20/Makefile
  examples/esp32-wroom-32/test_ds18b20/README.md
  examples/esp32-wroom-32/test_ds18b20/main.c
Labels: Status: Ready for Review, Area: doc, Area: examples

#64 Example/ moisture sensor
  examples/moisture_sensor_hw390/Makefile
  examples/moisture_sensor_hw390/main.c
  examples/moisture_sensor_hw390/readme.md
Labels: Area: doc, Area: examples

#68 doc: Updating Coding_Conventions_header_file_license
  CODING_CONVENTIONS.md
Labels: Area: doc

#57 example: added some examples
  examples/TPM_UART_APP/Makefile
  examples/TPM_UART_APP/README.md
  examples/TPM_UART_APP/main.c
  examples/esp32-wrover-app/Makefile
  examples/esp32-wrover-app/external_modules/cJSON/Makefile
  examples/esp32-wrover-app/external_modules/cJSON/Makefile.dep
  examples/esp32-wrover-app/external_modules/cJSON/Makefile.include
  examples/esp32-wrover-app/external_modules/cJSON/cjson.c
  examples/esp32-wrover-app/external_modules/cJSON/include/cjson.h
  examples/esp32-wrover-app/include/main.h
  examples/esp32-wrover-app/main.c
  examples/esp32-wrover-app/udpf.c
  examples/esp32-wrover-app/udpf.h
  examples/external_led/Makefile
  examples/external_led/README.md
  examples/external_led/main.c
Labels: Area: doc, Area: examples

#73 Update README.md
  .github/labeler.yml
  README.md
Labels: Area: doc, Area: CI

#80 ci: update drone.yml
  .drone.yml
Labels: Area: CI

#79 feature: add moisture sensor
  firmware/Makefile
  firmware/peripherals/moisture_sensor/Makefile
  firmware/peripherals/moisture_sensor/Makefile.dep
  firmware/peripherals/moisture_sensor/Makefile.include
  firmware/peripherals/moisture_sensor/include/moisture_sensor.h
  firmware/peripherals/moisture_sensor/moisture_sensor.c
Labels: Area: firmware

#78 feature: add ds18 sensor
  firmware/Makefile
  firmware/peripherals/ds18_sensor/Makefile
  firmware/peripherals/ds18_sensor/Makefile.dep
  firmware/peripherals/ds18_sensor/Makefile.include
  firmware/peripherals/ds18_sensor/ds18_sensor.c
  firmware/peripherals/ds18_sensor/include/ds18_sensor.h
Labels: Area: firmware

#81 boards: add m4a-wrover
  .drone.yml
  boards/m4a-wrover/Kconfig
  boards/m4a-wrover/Makefile
  boards/m4a-wrover/Makefile.dep
  boards/m4a-wrover/Makefile.features
  boards/m4a-wrover/Makefile.include
  boards/m4a-wrover/doc.txt
  boards/m4a-wrover/include/board.h
  boards/m4a-wrover/include/gpio_params.h
  boards/m4a-wrover/include/periph_conf.h
  firmware/main.c
Labels: Area: boards, Area: doc, Area: firmware, Area: Kconfig

#83 libs: added cbor serialization
  firmware/libs/serialization/Makefile
  firmware/libs/serialization/Makefile.dep
  firmware/libs/serialization/Makefile.include
  firmware/libs/serialization/include/serialization.h
  firmware/libs/serialization/serialization.c
Labels: Area: firmware

#91 Feature/udp libs
  firmware/Makefile
  firmware/libs/udp_m4a/Makefile
  firmware/libs/udp_m4a/Makefile.dep
  firmware/libs/udp_m4a/Makefile.include
  firmware/libs/udp_m4a/include/udp_m4a.h
  firmware/libs/udp_m4a/udp_m4a.c
Labels: Area: firmware

#87 examples: slipdev integration example
  doc/media/examples/esp32-wroom/slipdev/Slipdev_example.png
  doc/media/examples/esp32-wroom/slipdev/Terminal_output1.jpg
  doc/media/examples/esp32-wroom/slipdev/terminal_output002.png
  examples/esp32-wroom-32/slipdev/Makefile
  examples/esp32-wroom-32/slipdev/README.md
  examples/esp32-wroom-32/slipdev/main.c
  examples/esp32-wroom-32/slipdev/slipdev_params.h
Labels: Area: doc, Area: examples

#88 boards: adding support to m4a-wroom
  .drone.yml
  boards/m4a-wroom/Kconfig
  boards/m4a-wroom/Makefile
  boards/m4a-wroom/Makefile.dep
  boards/m4a-wroom/Makefile.features
  boards/m4a-wroom/Makefile.include
  boards/m4a-wroom/doc.txt
  boards/m4a-wroom/include/board.h
  boards/m4a-wroom/include/gpio_params.h
  boards/m4a-wroom/include/periph_conf.h
Labels: Area: boards, Area: doc, Area: Kconfig, Platform: m4a-wroom

#92 feture/system init settings
  firmware/Makefile
  firmware/libs/serialization/include/serialization.h
  firmware/libs/serialization/serialization.c
  firmware/main.c
  firmware/peripherals/moisture_sensor/moisture_sensor.c
  firmware/sys/system_init/Makefile
  firmware/sys/system_init/Makefile.dep
  firmware/sys/system_init/Makefile.include
  firmware/sys/system_init/include/system_init.h
  firmware/sys/system_init/system_init.c
Labels: Area: firmware, Area: sys

#100 Fixed old static test warnings
  examples/TPM_UART_APP/main.c
  examples/esp32-wrover-app/external_modules/cJSON/cjson.c
  examples/esp32-wrover-app/external_modules/cJSON/include/cjson.h
  examples/esp32-wrover-app/main.c
  examples/esp32-wrover-app/udpf.c
  examples/esp32-wrover-app/udpf.h
  examples/external_led/main.c
Labels: Area: examples

#102 subsys: WiFi subsystem, initial structure
  wifi-subsys/CMakeLists.txt
  wifi-subsys/Makefile
  wifi-subsys/README.md
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/network/src/dummy.cpp
  wifi-subsys/components/nvs/CMakeLists.txt
  wifi-subsys/components/nvs/src/dummy.cpp
  wifi-subsys/components/tools/CMakeLists.txt
  wifi-subsys/components/tools/src/dummy.cpp
  wifi-subsys/doc.txt
  wifi-subsys/main/CMakeLists.txt
  wifi-subsys/main/component.mk
  wifi-subsys/main/main.cpp
  wifi-subsys/sdkconfig
Labels: Area: doc, Area: build system, Area: wifi-subsys

#106 wifi-subsys: nvs component
  wifi-subsys/.gitignore
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/network/src/dummy.c
  wifi-subsys/components/nvs/CMakeLists.txt
  wifi-subsys/components/storage/CMakeLists.txt
  wifi-subsys/components/storage/src/storage.c
  wifi-subsys/components/storage/src/storage.h
  wifi-subsys/components/storage/test/CMakeLists.txt
  wifi-subsys/components/storage/test/test_nvs.c
  wifi-subsys/components/tools/CMakeLists.txt
  wifi-subsys/components/tools/src/dummy.c
  wifi-subsys/components/tools/src/dummy.cpp
  wifi-subsys/doc.txt
  wifi-subsys/main/CMakeLists.txt
  wifi-subsys/main/main.c
  wifi-subsys/sdkconfig
  wifi-subsys/test/CMakeLists.txt
  wifi-subsys/test/main/CMakeLists.txt
  wifi-subsys/test/main/main.c
  wifi-subsys/test/sdkconfig.defaults
Labels: Area: doc, Area: wifi-subsys

#101 Resolve some targets of examples and his doc
  doc/doxygen/m4a.doxyfile
  examples/doc.txt
  examples/esp32-wroom-32/slipdev/README.md
  examples/esp32-wroom-32/slipdev/doc.txt
  examples/esp32-wroom-32/slipdev/main.c
  examples/esp32-wroom-32/slipdev/slipdev_params.h
  examples/esp32-wroom-32/test_ds18b20/Makefile
  examples/esp32-wroom-32/test_ds18b20/README.md
  examples/esp32-wroom-32/test_ds18b20/doc.txt
  examples/esp32-wroom-32/test_ds18b20/ds18b20.h
  examples/esp32-wroom-32/test_ds18b20/main.c
  examples/esp32-wrover-app/Makefile
  examples/esp32-wrover-app/doc.txt
  examples/esp32-wrover-app/external_modules/cJSON/cjson.c
  examples/esp32-wrover-app/external_modules/cJSON/include/cjson.h
  examples/esp32-wrover-app/main.c
  examples/esp32-wrover-app/udpf.h
  examples/external_led/Makefile
  examples/external_led/README.md
  examples/external_led/doc.txt
  examples/external_led/main.c
  examples/moisture_sensor_hw390/Makefile
  examples/moisture_sensor_hw390/doc.txt
  examples/moisture_sensor_hw390/main.c
  examples/moisture_sensor_hw390/readme.md
  examples/tmp_uart/Makefile
  examples/tmp_uart/README.md
  examples/tmp_uart/doc.txt
  examples/tmp_uart/main.c
Labels: Area: doc, Area: examples

#105 wifi-subsys: Add wifi component
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/network/test/CMakeLists.txt
  wifi-subsys/components/network/test/test_wifi.c
  wifi-subsys/main/Kconfig.projbuild
  wifi-subsys/main/default_params.h
  wifi-subsys/main/main.c
  wifi-subsys/sdkconfig.old
  wifi-subsys/test/main/main.c
Labels: Area: doc, Area: wifi-subsys

#111 CI: matrix builds
  .drone.yml
Labels: Area: CI
