Repository Mesh4all/m4a-firmware, pull requests merged in 2022-02, with the labels that each got.

#121 doc:update coding_conventions
  CODING_CONVENTIONS.md
Labels: Area: doc

#118 wifi-subsys: nvs + wifi integration
  wifi-subsys/.gitignore
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/storage/doc.txt
  wifi-subsys/components/storage/src/storage.h
  wifi-subsys/main/default_params.h
Labels: Area: doc, Area: wifi-subsys

#122 ci: fix doxygen groups
  wifi-subsys/components/doc.txt
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/main/default_params.h
Labels: Area: doc, Area: wifi-subsys

#110 Implementation of template to Test documentation
  doc/doxygen/m4a.doxyfile
  tests/board_stm32f469i-disco/Makefile
  tests/board_stm32f469i-disco/main.c
  tests/doc.txt
  tests/driver_ds18/Makefile
  tests/driver_ds18/README.md
  tests/driver_ds18/main.c
  tests/driver_epd-bw-spi/Makefile
  tests/driver_epd-bw-spi/README.md
  tests/driver_epd-bw-spi/epd_bw_spi_params.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/Makefile
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/Makefile.dep
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/Makefile.include
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/epd_bw_spi.c
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_internal.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_params.h
  tests/driver_epd-bw-spi/external_drivers/epd_bw_spi/include/epd_bw_spi_pictures.h
  tests/driver_epd-bw-spi/main.c
  tests/driver_u8g2/Makefile
  tests/driver_u8g2/main.c
  tests/template/Makefile
  tests/template/doc.txt
  tests/template/include/depends_params.h
  tests/template/main.c
Labels: Area: tests, Area: doc

#115 wifi-subsys: async uart implementation
  wifi-subsys/components/uart/CMakeLists.txt
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/src/subsys_uart.h
  wifi-subsys/components/uart/test/CMakeLists.txt
  wifi-subsys/components/uart/test/uart_test.c
Labels: Area: doc, Area: wifi-subsys

#123 Codespell ignores directory wifi-subsys/build
  dist/tools/codespell/check.sh
Labels: Area: tools

#128 wifi-subsys: fix wrong macro literal to string
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/storage/test/CMakeLists.txt
  wifi-subsys/components/storage/test/test_nvs.c
  wifi-subsys/main/default_params.h
  wifi-subsys/test/sdkconfig.defaults
Labels: Area: doc, Area: wifi-subsys

#130 AT and NVS integration
  wifi-subsys/.gitignore
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/network/test/test_wifi.c
  wifi-subsys/components/tools/idf_component.yml
  wifi-subsys/components/uart/CMakeLists.txt
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/src/subsys_uart.h
  wifi-subsys/components/uart/test/uart_test.c
  wifi-subsys/main/CMakeLists.txt
Labels: Type: enhancement, Status: Ready for Review, Area: doc, Area: wifi-subsys

#131 wifi-subsys: Integration of uint8_t array to Cbor Serialization
  wifi-subsys/components/tools/src/serialization.c
  wifi-subsys/components/tools/src/serialization.h
  wifi-subsys/components/tools/test/test_cbor.c
Labels: Area: wifi-subsys

#134 wifi-subsys: Adding sntp support to sync time
  wifi-subsys/components/network/src/protocol_sntp.c
  wifi-subsys/components/network/src/protocol_sntp.h
  wifi-subsys/components/network/test/test_sntp.c
Labels: Area: wifi-subsys

#135 wifi-subsys: icmp implementation
  wifi-subsys/components/network/src/icmp_ping.c
  wifi-subsys/components/network/src/icmp_ping.h
  wifi-subsys/components/network/test/test_icmp.c
  wifi-subsys/components/network/test/test_wifi.c
  wifi-subsys/main/CMakeLists.txt
  wifi-subsys/main/default_params.h
Labels: Area: doc, Area: wifi-subsys

#138 wifi-subsys: add litle improvements to the wifi module
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/network/src/wifi.h
  wifi-subsys/components/network/test/test_wifi.c
Labels: Type: bug, Area: wifi-subsys

#132 wifi-subsys: Adding https support
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/network/component.mk
  wifi-subsys/components/network/server_root_cert.pem
  wifi-subsys/components/network/src/httpsclient.c
  wifi-subsys/components/network/src/httpsclient.h
  wifi-subsys/components/network/test/CMakeLists.txt
  wifi-subsys/components/network/test/test_https.c
  wifi-subsys/components/network/test/test_icmp.c
  wifi-subsys/main/default_params.h
  wifi-subsys/main/main.c
Labels: Area: doc, Area: build system, Area: wifi-subsys

#139 examples: Fixes some examples EOF
  examples/esp32-wroom-32/slipdev/main.c
  examples/esp32-wrover-app/Makefile
  examples/external_led/Makefile
  examples/external_led/main.c
  examples/moisture_sensor_hw390/README.md
  examples/tmp_uart/Makefile
Labels: Area: doc, Area: examples

#141 wifi-subsys: Add Component Protocols -> Group of network protocols
  wifi-subsys/components/network/CMakeLists.txt
  wifi-subsys/components/network/test/CMakeLists.txt
  wifi-subsys/components/protocols/CMakeLists.txt
  wifi-subsys/components/protocols/component.mk
  wifi-subsys/components/protocols/server_root_cert.pem
  wifi-subsys/components/protocols/src/httpsclient.c
  wifi-subsys/components/protocols/src/httpsclient.h
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/src/protocol_sntp.c
  wifi-subsys/components/protocols/src/protocol_sntp.h
  wifi-subsys/components/protocols/test/CMakeLists.txt
  wifi-subsys/components/protocols/test/test_https.c
  wifi-subsys/components/protocols/test/test_icmp.c
  wifi-subsys/components/protocols/test/test_sntp.c
Labels: Area: doc, Area: build system, Area: wifi-subsys

#148 wifi-subsys: add support for storing uin32 integers in the NVS
  wifi-subsys/components/storage/src/storage.c
  wifi-subsys/components/storage/src/storage.h
  wifi-subsys/components/storage/test/test_nvs.c
Labels: Area: wifi-subsys

#142 wifi-subsys: add main of wifi subsys
  wifi-subsys/components/network/src/wifi.c
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/main/CMakeLists.txt
  wifi-subsys/main/default_params.h
  wifi-subsys/main/main.c
Labels: Area: doc, Area: wifi-subsys

#147 Wifi-subsys: SNTP update
  wifi-subsys/components/protocols/src/protocol_sntp.c
  wifi-subsys/components/protocols/src/protocol_sntp.h
  wifi-subsys/components/protocols/test/test_sntp.c
  wifi-subsys/main/default_params.h
Labels: Area: wifi-subsys

#146 wifi-subsys: icmp_ping
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/src/icmp_ping.h
  wifi-subsys/components/protocols/test/test_icmp.c
  wifi-subsys/main/default_params.h
Labels: Area: wifi-subsys

#149 wifi-subsys: main component
  wifi-subsys/main/default_params.h
  wifi-subsys/main/main.c
Labels: Area: wifi-subsys

#151 wifi-subsys: fix little error in main
  wifi-subsys/main/main.c
Labels: Type: bug, Area: wifi-subsys

#150 wifi-subsys: added event group in icmp
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/test/test_icmp.c
Labels: Type: bug, Area: wifi-subsys

#152 Revert "wifi-subsys: added event group in icmp"
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/test/test_icmp.c
Labels: Area: wifi-subsys

#153 wifi-subsys: fixed little bug in imcp component
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/test/test_icmp.c
  wifi-subsys/main/main.c
Labels: Area: wifi-subsys

#156 firmware: change default platform
  .drone.yml
  firmware/Makefile
Labels: Area: firmware
