Repository Mesh4all/m4a-firmware, pull requests merged in 2022-06, with the labels that each got.

#259 firmware: fixed set ipv6 address conflicts between RPL, radio and border_router modules
  firmware/network/Kconfig
  firmware/network/Makefile
  firmware/network/border_router/Makefile.dep
  firmware/network/border_router/border_router.c
  firmware/network/border_router/include/border_router.h
  firmware/network/border_router_node/Makefile.dep
  firmware/network/border_router_node/Makefile.include
  firmware/network/border_router_node/border_router_node.c
  firmware/network/border_router_node/doc.txt
  firmware/network/border_router_node/include/border_router_node.h
  firmware/network/net_tools/Makefile
  firmware/network/net_tools/Makefile.dep
  firmware/network/net_tools/Makefile.include
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  firmware/network/radio/include/radio.h
  firmware/network/radio/radio.c
  firmware/network/rpl_protocol/Kconfig
  firmware/network/rpl_protocol/Makefile.dep
  firmware/network/rpl_protocol/include/rpl_protocol.h
  firmware/network/rpl_protocol/rpl_protocol.c
  tests/border_router/main.c
  tests/rpl/main.c
Labels: Area: tests, Area: doc, Area: firmware, Area: Kconfig

#258 examples: separated into different examples the dag and the dodag
  examples/mesh4all_rpl/Kconfig
  examples/mesh4all_rpl_dag/Kconfig
  examples/mesh4all_rpl_dag/Makefile
  examples/mesh4all_rpl_dag/README.md
  examples/mesh4all_rpl_dag/main.c
  examples/mesh4all_rpl_dodag/Kconfig
  examples/mesh4all_rpl_dodag/Makefile
  examples/mesh4all_rpl_dodag/README.md
  examples/mesh4all_rpl_dodag/main.c
  firmware/network/rpl_protocol/include/rpl_protocol.h
Labels: Area: doc, Area: firmware, Area: Kconfig, Area: examples

#260 Pseudo module
  firmware/Makefile
  firmware/network/rpl_protocol/Makefile
  firmware/network/rpl_protocol/Makefile.dep
Labels: Area: firmware

#261 firmware: Network module net_tools and border_router modifications
  firmware/network/border_router/Makefile.dep
  firmware/network/border_router/border_router.c
  firmware/network/border_router/include/border_router.h
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
Labels: Area: firmware

#262 examples: update test with the last changes in rpl module
  examples/system_example/main.c
Labels: Area: examples

#263 dist/tools/m4a-generator: Fixed some makefile includes and templates
  dist/tools/m4a-generator/m4agen/application.py
  dist/tools/m4a-generator/m4agen/board.py
  dist/tools/m4a-generator/m4agen/example.py
  dist/tools/m4a-generator/m4agen/module.py
  dist/tools/m4a-generator/m4agen/templates/application/main.c.j2
  dist/tools/m4a-generator/m4agen/templates/board/board.h.j2
  dist/tools/m4a-generator/m4agen/templates/board/doc.txt.j2
  dist/tools/m4a-generator/m4agen/templates/board/periph_conf.h.j2
  dist/tools/m4a-generator/m4agen/templates/module/Makefile.dep.j2
  dist/tools/m4a-generator/m4agen/templates/module/Makefile.include.j2
  dist/tools/m4a-generator/m4agen/templates/module/module.c.j2
  dist/tools/m4a-generator/m4agen/test.py
Labels: Area: tools

#264 wifi-subsys: added cJSON and changed cbor to json in the https-request
  wifi-subsys/components/uart/CMakeLists.txt
  wifi-subsys/components/uart/src/subsys_uart.c
Labels: Area: doc, Area: wifi-subsys

#267 wifi-subsys: fixed old static warnings presents
  wifi-subsys/components/network/test/test_wifi.c
  wifi-subsys/components/protocols/src/httpsclient.c
  wifi-subsys/components/protocols/src/icmp_ping.c
  wifi-subsys/components/protocols/test/test_https.c
  wifi-subsys/components/protocols/test/test_icmp.c
  wifi-subsys/components/storage/test/test_nvs.c
  wifi-subsys/components/tools/test/test_serialization.c
  wifi-subsys/components/uart/src/at_handler.c
  wifi-subsys/components/uart/src/subsys_uart.c
  wifi-subsys/components/uart/test/uart_test.c
  wifi-subsys/main/main.c
Labels: Area: wifi-subsys

#270 test/border_router: fixed with the new modifications
  firmware/network/border_router/Makefile.dep
  firmware/network/border_router/border_router.c
  firmware/network/border_router/include/border_router.h
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  tests/border_router/main.c
Labels: Area: tests, Area: firmware

#283 doc/network: Modify Documentation in the Network group
  doc/doxygen/src/media/diagram_udp_server.drawio.png
  doc/doxygen/src/media/udp_client_image.drawio.png
  firmware/network/border_router/border_router.c
  firmware/network/border_router/doc.txt
  firmware/network/chamos/doc.txt
  firmware/network/doc.txt
  firmware/network/net_tools/doc.txt
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  firmware/network/radio/doc.txt
  firmware/network/radio/include/radio.h
  firmware/network/radio/include/radio_params.h
  firmware/network/rpl_protocol/doc.txt
  firmware/network/udp_client/doc.txt
  firmware/network/udp_client/udp_client.c
  firmware/network/udp_server/doc.txt
Labels: Area: doc, Area: firmware

#284 example: updated ds18b20 sensors, fixed reading data under 0 grades
  examples/ds18b20/README.md
  examples/ds18b20/main.c
  firmware/peripherals/ds18_sensor/ds18_sensor.c
Labels: Area: doc, Area: firmware, Area: examples
