Repository Mesh4all/m4a-firmware, pull requests merged in 2022-09, with the labels that each got.

#344 firmware: confs. for a better performance of RPL routing protocol.
  firmware/network/rpl_protocol/Makefile
Labels: Area: firmware

#346 firmware: Adding DEBUG mode to each module
  dist/tools/chamoc/doc.txt
  firmware/Kconfig
  firmware/Kconfig.debug
  firmware/network/border_router/border_router.c
  firmware/network/chamos/chamos.c
  firmware/network/net_tools/net_tools.c
  firmware/network/radio/radio.c
  firmware/network/rpl_protocol/rpl_protocol.c
  firmware/network/udp_client/udp_client.c
  firmware/network/udp_server/udp_server.c
  firmware/peripherals/ds18_sensor/ds18_sensor.c
  firmware/peripherals/moisture_sensor/moisture_sensor.c
  firmware/sys/at_client/at_client.c
  firmware/sys/serialization/serialization.c
  firmware/sys/storage/storage.c
  firmware/sys/uniqueid/uniqueid.c
Labels: Area: doc, Area: firmware, Area: Kconfig, Area: sys, Area: tools

#347 examples: border router added support to foren6
  examples/border_router/Makefile
  examples/border_router/Makefile.native.conf
  firmware/network/chamos/chamos.c
  firmware/network/radio/radio.c
Labels: Area: firmware, Area: examples

#345 network: fixed rpl support to socket_zep for Foren and fixed examples rpl & fixed some modules bugs to run it
  examples/mesh4all_rpl_dag/Kconfig
  examples/rpl_dag/Makefile
  examples/rpl_dag/README.md
  examples/rpl_dag/doc.txt
  examples/rpl_dag/main.c
  examples/rpl_dodag/Kconfig
  examples/rpl_dodag/Makefile
  examples/rpl_dodag/README.md
  examples/rpl_dodag/main.c
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  firmware/network/radio/include/radio_params.h
  firmware/network/radio/radio.c
  firmware/network/rpl_protocol/Makefile.dep
  firmware/network/rpl_protocol/include/rpl_protocol.h
  firmware/sys/uniqueid/uniqueid.c
Labels: Area: doc, Area: firmware, Area: Kconfig, Area: examples, Area: sys

#348 dist/tools/zep_dispatch: Topogen updated
  dist/tools/zep_dispatch/.gitignore
  dist/tools/zep_dispatch/Makefile
  dist/tools/zep_dispatch/README.md
  dist/tools/zep_dispatch/example.topo
  dist/tools/zep_dispatch/file.topo
  dist/tools/zep_dispatch/launch.sh
  dist/tools/zep_dispatch/main.c
  dist/tools/zep_dispatch/network.topo
  dist/tools/zep_dispatch/start_network.sh
  dist/tools/zep_dispatch/topogen.c
  dist/tools/zep_dispatch/topogen.sh
  dist/tools/zep_dispatch/topology.c
  dist/tools/zep_dispatch/topology.h
  dist/tools/zep_dispatch/zep_parser.c
  dist/tools/zep_dispatch/zep_parser.h
Labels: Area: doc, Area: tools

#349 sys/uniqueid: Uniqueid model RTOS
  firmware/network/rpl_protocol/rpl_protocol.c
  firmware/sys/Makefile
  firmware/sys/uniqueid/Kconfig
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
  tests/uniqueid/main.c
Labels: Area: tests, Area: firmware, Area: Kconfig, Area: sys

#350 shell extended tool: extends shell funct. to our custom modules
  examples/shell_extended/Makefile
  examples/shell_extended/doc.txt
  examples/shell_extended/main.c
  firmware/sys/Makefile.dep
  firmware/sys/shell_extended/Makefile
  firmware/sys/shell_extended/Makefile.dep
  firmware/sys/shell_extended/Makefile.include
  firmware/sys/shell_extended/doc.txt
  firmware/sys/shell_extended/include/shell_extended.h
  firmware/sys/shell_extended/se_uniqueid.c
  firmware/sys/shell_extended/shell_extended.c
  tests/system_shell_extended/Makefile
  tests/system_shell_extended/doc.txt
  tests/system_shell_extended/main.c
  tests/system_shell_extended/tests/01-run.py
Labels: Area: tests, Area: doc, Area: firmware, Area: examples, Area: sys

#353 firmware/sys/uniqueid: get_uid_seed and net_tools set_ipv6_by_uid
  firmware/network/net_tools/include/net_tools.h
  firmware/network/net_tools/net_tools.c
  firmware/network/rpl_protocol/Makefile.dep
  firmware/network/rpl_protocol/rpl_protocol.c
  firmware/sys/uniqueid/Makefile.dep
  firmware/sys/uniqueid/include/uniqueid.h
  firmware/sys/uniqueid/uniqueid.c
  tests/net_rpl/Makefile
  tests/net_rpl/main.c
  tests/system_uniqueid/Makefile
  tests/system_uniqueid/main.c
  tests/system_uniqueid/random_gen.c
Labels: Area: tests, Area: firmware, Area: sys

#356 firmware/sys/shell_extended: shell extended functionality for uniqueid
  firmware/sys/shell_extended/se_uniqueid.c
Labels: Area: firmware, Area: sys

#351 Storage: Added Support to Dump flashpages & firm_load_settings
  firmware/Makefile
  firmware/default_params.h
  firmware/storage_init.c
  firmware/sys/shell_extended/Makefile
  firmware/sys/shell_extended/se_storage.c
  firmware/sys/shell_extended/shell_extended.c
  firmware/sys/storage/Makefile.include
  firmware/sys/storage/include/storage.h
  firmware/sys/storage/storage.c
  tests/system_storage/Makefile
  tests/system_storage/main.c
Labels: Area: tests, Area: firmware, Area: sys
