Repository Mesh4all/m4a-firmware, pull requests merged in 2023-03, with the labels that each got.

#372 doc: Replace html badges with markdown Syntax
  README.md
Labels: Area: doc

#373 doc: fixed link badges
  README.md
Labels: Area: doc

#378 ci: fix static-test error with coccinelle
  .github/workflows/static-test.yml
Labels: Area: CI

#375 dist/tools: Fixed names to m4a template generator
  dist/tools/template_generator/.gitignore
  dist/tools/template_generator/COPYING
  dist/tools/template_generator/MANIFEST.in
  dist/tools/template_generator/README.md
  dist/tools/template_generator/README.rst
  dist/tools/template_generator/m4agen/__init__.py
  dist/tools/template_generator/m4agen/application.py
  dist/tools/template_generator/m4agen/board.py
  dist/tools/template_generator/m4agen/common.py
  dist/tools/template_generator/m4agen/data/licenses/AGPL3.txt
  dist/tools/template_generator/m4agen/data/licenses/Apache2.txt
  dist/tools/template_generator/m4agen/data/licenses/BSD.txt
  dist/tools/template_generator/m4agen/data/licenses/LGPL21.txt
  dist/tools/template_generator/m4agen/data/licenses/MIT.txt
  dist/tools/template_generator/m4agen/data/licenses/MPL2.txt
  dist/tools/template_generator/m4agen/example.py
  dist/tools/template_generator/m4agen/main.py
  dist/tools/template_generator/m4agen/module.py
  dist/tools/template_generator/m4agen/samples/sample-application.cfg
  dist/tools/template_generator/m4agen/samples/sample-board.cfg
  dist/tools/template_generator/m4agen/samples/sample-driver.cfg
  dist/tools/template_generator/m4agen/samples/sample-example.cfg
  dist/tools/template_generator/m4agen/samples/sample-module.cfg
  dist/tools/template_generator/m4agen/samples/sample-pkg.cfg
  dist/tools/template_generator/m4agen/samples/sample-test.cfg
  dist/tools/template_generator/m4agen/templates/application/01-run.py.j2
  dist/tools/template_generator/m4agen/templates/application/Makefile.j2
  dist/tools/template_generator/m4agen/templates/application/README.md.j2
  dist/tools/template_generator/m4agen/templates/application/main.c.j2
  dist/tools/template_generator/m4agen/templates/board/Kconfig.j2
  dist/tools/template_generator/m4agen/templates/board/Makefile.dep.j2
  dist/tools/template_generator/m4agen/templates/board/Makefile.features.j2
  dist/tools/template_generator/m4agen/templates/board/Makefile.include.j2
  dist/tools/template_generator/m4agen/templates/board/Makefile.j2
  dist/tools/template_generator/m4agen/templates/board/board.h.j2
  dist/tools/template_generator/m4agen/templates/board/doc.txt.j2
  dist/tools/template_generator/m4agen/templates/board/periph_conf.h.j2
  dist/tools/template_generator/m4agen/templates/common/header.j2
  dist/tools/template_generator/m4agen/templates/module/Makefile.dep.j2
  dist/tools/template_generator/m4agen/templates/module/Makefile.include.j2
  dist/tools/template_generator/m4agen/templates/module/Makefile.j2
  dist/tools/template_generator/m4agen/templates/module/module.c.j2
  dist/tools/template_generator/m4agen/templates/module/module.h.j2
  dist/tools/template_generator/m4agen/test.py
  dist/tools/template_generator/m4agen/utils.py
  dist/tools/template_generator/setup.cfg
  dist/tools/template_generator/setup.py
  dist/tools/template_generator/tox.ini
  dist/tools/utils/m4agen_installer.sh
Labels: Area: doc, Area: tools
